.produto {
    width: 250px;
    height: 300px;

    display: flex;
    flex-direction: column;
    color: #FFF;
    margin-bottom: 50px;
}

.cardBody {
    background-color: #1A1D22;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: 'Hanuman', serif;
    font-size: 16px;
}

.cardBody h1 {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    text-align: center;
}

.cardBody h1.price {
    color: rgb(8, 153, 8);
}

.cardBody img {
    width: 125px;
}

.cardBody span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-align: center;
    height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.id {
    color: rgba(255, 255, 255, 0.50);
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
}

.editar {
    width: 100%;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    background: rgba(255, 103, 1, 0.85);
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Hanuman', serif;
}

.editar:hover {
    background: rgba(174, 72, 5, 0.85);
}

.editar:active {
    transform: scale(0.99);
}

.noImgProduct{
    filter: invert(100%); 
}