.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
}

h1{
    margin: 15px 0;
}

.baixo, .cima{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img{
    height: 70%;
    width: 70%;
}

h2 {
    margin: 15px 0;
    color: #FF6701;
    border-bottom: 2px solid #FF6701;
}

.imput{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botoes{
    display: flex;
    width: 100%;
    justify-content: center;
}

.div_img {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.div_img img {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);

    width: 250px;
    height: 250px;

    margin-bottom: 10px;
    margin-top: 10px;

}

@media (max-width: 768px) {
    .imput {
        width: 80%;
    }

    .botoes Button{
        font-size: 10px;
    }
    
}