.fundo{
    background-color: #1C212C;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    height: 100vh;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #353739;

    width: 100%;
    gap: 50px;
    padding: 30px;
    border-radius: 5px;
    min-height: 100%;
    height: auto;

    overflow-y: auto;
}

.spinner {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
   }
   
   .spinner::before,
   .spinner:after {
    content: "";
    position: absolute;
    border-radius: inherit;
   }
   
   .spinner:before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
    animation: spin8932 .5s infinite linear;
   }
   
   .spinner:after {
    width: 85%;
    height: 85%;
    background-color: #212121;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   
   @keyframes spin8932 {
    to {
     transform: rotate(360deg);
    }
   }


   @media (max-width: 767px) {
    .cards{
        justify-content: center;
    }

    .fundo{
        padding: 10px;
    }
  }