/* .flip {
  animation: flip-out-hor-top 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
} */

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.login form img {
  width: 80%;
  margin-bottom: 20px;
}


.textefield {
  width: 100%;

  display: flex;
  justify-content: center;
}

.textefield>input {
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  background: transparent;
  font-size: 12px;
  box-sizing: border-box;

  color: #fff;
}

.textefield>input:focus {
  border: 1px solid rgba(2, 175, 255, 0.8);
}

.textefield>input::placeholder {
  color: #fff;
}

.btn_login {
  width: 100%;
  padding: 10px 0px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #ff7417;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.messageError {
  width: 100%;

  text-align: end;
  color: #eb0119;
  font-size: 14px;
  font-weight: bold;
}

.resetPassword {
  width: 100%;
  color: white;
  text-align: end;
}

.resetPassword a {
  text-decoration: none;
  color: white;
}

.wrongAnimate {
  animation: heartbeat 1s ease-in-out 1 both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes flip-out-hor-top {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }

  100% {
    transform: rotateX(70deg);
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .login {
    padding: 20px;
  }
}

/* Animation Backgrou CSS */

.circles {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  bottom: -150px;
  background: transparent url("../../public/images/backgroud_login.png") center/contain no-repeat;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  background: transparent url("https://png.pngtree.com/png-vector/20230324/ourmid/pngtree-cartoon-starfish-or-sea-star-vector-png-image_6667318.png") center/contain no-repeat;
  animation: animateWithRotate 25s linear infinite;
}

.circles li:nth-child(2) {
  right: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  animation: animateToRight 25s linear infinite;
}

.circles li:nth-child(3) {
  right: 70%;
  width: 20px;
  height: 20px;
  animation: animateToRight 25s linear infinite;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  animation: animateWithRotate 25s linear infinite;
  background: transparent url("https://png.pngtree.com/png-vector/20230324/ourmid/pngtree-cartoon-starfish-or-sea-star-vector-png-image_6667318.png") center/contain no-repeat;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation: animateWithRotate 25s linear infinite;
  background: transparent url("https://png.pngtree.com/png-vector/20230324/ourmid/pngtree-cartoon-starfish-or-sea-star-vector-png-image_6667318.png") center/contain no-repeat;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation: animateToLeft 25s linear infinite;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  background: transparent url("https://png.pngtree.com/png-vector/20230324/ourmid/pngtree-cartoon-starfish-or-sea-star-vector-png-image_6667318.png") center/contain no-repeat;
  height: 150px;
  animation: animateWithRotate 25s linear infinite;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation: animateToLeft 25s linear infinite;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  background: transparent url("https://png.pngtree.com/png-vector/20230324/ourmid/pngtree-cartoon-starfish-or-sea-star-vector-png-image_6667318.png") center/contain no-repeat;
  animation: animateWithRotate 25s linear infinite;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  right: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation: animateToRight 25s linear infinite;
  animation-duration: 20s;
}

@keyframes animateWithRotate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

@keyframes animateToRight {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 0.6;
  }

  100% {
    transform: translateY(-1000px) translateX(1000px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes animateToLeft {
  0% {
    transform: translateY(0) rotate(320deg);
    opacity: 0.6;
  }

  100% {
    transform: translateY(-1000px) translateX(-1000px) rotate(320deg);
    opacity: 0;
  }
}