.navBar{
  display: inline;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;

  overflow-x: hidden;
  background-color: rgb(22, 27, 34);
  color: #fff;
  padding: 15px;

  transition: width 0.5s ease;
}

.sidebar.active {
  width: 270px;
}

.sidebar.close {
  width: 80px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: width 0.5s ease;
}

/* .sidebar.active .header {
  transform: rotate(0deg);
}

.sidebar.close .header {
  transform: rotate(180deg);
  justify-content: center;
} */

.header .btnSidebar {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  gap: 15px;

  display: flex;
  align-self: center;
  transition: rotate 0.5s ease;
  color: white;
}

.header .btnSidebar:hover {
  color: #FF7417;
}

.sidebar.active .images {
  display: flex;
}

.sidebar.close .images {
  display: none;
}

.images {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar.active .images {
  display: flex;
}

.sidebar.close .images {
  display: none;
}


.logo {
  width: 200px;
  margin-bottom: 15px;
}

.profile {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.listItems {
  display: flex;
  flex-direction: column;
  gap: 30px;

  overflow-y: auto;
}

.listItems::-webkit-scrollbar {
  width: 8px;
  
}

.listItems::-webkit-scrollbar-thumb {
  background-color: rgb(182, 178, 178, 0.5);
  border-radius: 6px;
  width: 6px;
  height: 10px;
}

.listItems::-webkit-scrollbar-thumb:hover {
  background-color: rgb(182, 178, 178, 0.8);
}

.items {
  width: auto;
  color: #d9e1ee;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.active .items {
  flex-direction: row;
  justify-content: start;
  
  white-space: nowrap; /* Evitar quebrar o texto em várias linhas */
  text-overflow: ellipsis;
}

.sidebar.close .items {
  flex-direction: column;
  justify-content: center;
}

.active {
  color: #FF7417;
}

.items small {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.sidebar.active .items small {
  font-size: 20px;
}

.sidebar.close .items small {
  font-size: 10px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;

  color: #293845;
  text-decoration: none;
  margin-top: 10px;
}

.sidebar.active .footer {
  justify-content: space-between;
  flex-direction: row;
}

.sidebar.close .footer {
  justify-content: center;
  flex-direction: column;

}

.gitIcon {
  color: white;
}

.sidebar.close .gitIcon {
  order: 2;
}

.footer button {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.active .footer button {
  background-color: rgb(230, 42, 42);
  border: 0px;
  color: white;
  padding: 5px 15px 5px 15px;
}

.sidebar.close .footer button {
  background-color: transparent;
  border: 1px solid rgb(230, 42, 42);
  color: rgb(230, 42, 42);
  padding: 5px;
  margin-bottom: 15px;

  order: 1;
}

.mobileBtn {
  display: none;
}

/* @Media Query */

@media (max-width: 767px) {

  .mobileBtn {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    z-index: 3;
    cursor: pointer;
  }

  .mobileBtn:hover{
    color: #FF7417;
  }

  .sidebar {
    position: absolute;
    height: 100%;
    z-index: 2;
  }

  .header .btnSidebar {
    display: none;
  }

  .sidebar.active {
    width: 100%;
  }

  .sidebar.close {
    width: 0px;
    padding: 0px;
  }

  .sidebar.close .images {
    display: flex;
  }

  .sidebar.close .items small {
    font-size: 20px;
    white-space: nowrap;
  }

  .listItems {
    margin: 10px 0px 10px 0px;
  }

  .items {
    flex-wrap: nowrap;
  }

  .sidebar.close .items {
    flex-direction: row;
    justify-content: center;
  }

  .sidebar.active .items {
    flex-direction: row;
    justify-content: center;
  }

  .listItems {
    padding: 50px;
    overflow-y: auto;
  }

}