.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  min-height: 100vh;
  height: auto;
  overflow: hidden;
  background-color: rgb(22, 27, 34);
  color: #fff;
  padding: 20px;

  transition: width 0.5s ease;
}

.sidebar.active{
  width:270px;
}

.sidebar.close{
  width:60px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: end;
  transition: width 0.5s ease;
} 

.sidebar.active .header{
  transform: rotate(0deg);
}

.sidebar.close .header{
  transform: rotate(180deg);
}

.header .btnSidebar {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  gap: 15px;

  display: flex;
  align-self: center;
  transition: rotate 0.5s ease;
  color: white;
}

.sidebar.active .images{
  display: flex;
}

.sidebar.close .images{
  display: none;
}

.images {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar.active .images {
  display: flex;
}

.sidebar.close .images {
  display: none;
}


.logo {
  width: 200px;
  margin-bottom:15px;
} 

.profile {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.listItems {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.items {
  gap: 10px;
  color: #FF7417;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: start;
  align-items: center ;
}

.active{
  color:#0065fc;

}

/* .items:hover {
  color: #0065fc;
} */

.items small {
  white-space: nowrap;
  margin-left: 5px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;

  color: #293845;
  text-decoration: none;
  margin-top: 10px;
}

.sidebar.active .footer {
  justify-content: space-between;
  flex-direction: row;

}

.sidebar.close .footer {
  justify-content: center;
  flex-direction: column;
  
}
.footerItens {
  font-size: 24px;
}

.footer button {
  background-color: rgb(230, 42, 42);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  display: flex;
  align-self: center;
  justify-content: center;
  color: white;
}

.sidebar.close .footer button small{
  display: none;
}

.footerIcons {
  color: white;
  font-size: 50px;
}

/* @Media Query */ 

/* @media (max-width: 767px) {

} */