.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center
}

h1{
    color: #FF6701;
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    height: 34;
    max-width: 471px;
    max-height: 34px;
    border-radius: 15px;
    background-color: #292F43;
    color: #FF6701;
    font-size: 23px;
}

.searchInput {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    transition: all 0.7s;
    background: transparent;
    color: white;
}

.searchInput::placeholder {
    color: white;
}

.icons svg{
    color: white;
    margin: 3px;
    font-size: 20px;
    cursor: pointer;
}

