.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 05px 20px;
    align-items: center
}

.input_container{
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FF6701; /* Cor dos ícones */
}

.iconL{
    left: 10px;
}

.iconR{
    right: 10px;
}

input {
    padding: 05px 30px; /* Espaço à esquerda para acomodar os ícones */
    border-radius: 5px;
  }
  

.title {
    color: #ff6701;
  }

.icons svg{
    color: white;
    margin: 3px;
    font-size: 20px;
    cursor: pointer;
}

